body{
    background-color: lightgray;
}
.qr{
    text-align: center;
    display: grid;
    place-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 280px;
    height: 430px;
    margin: auto;
    margin-top: 300px;
}

.image{
    border-radius: 10px;
    margin-top: 10px;
}

.first{
    font-weight: 700;
    width: 250px;
    font-size:medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.second{
    font-family: 400;
    width: 250px;
    color: gray;
    margin-top: 5px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}